

@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bahnschrift Regular'), url('BAHNSCHRIFT 1.woff') format('woff');
  }
  
 


body {
  background-color:#ffff;
}

.login-card {

  padding: 40px;
  width: 300px;
  height:320px;
  background-color: #fff;
  margin: 10% auto 0;
  border-radius: 2px;
  box-shadow: #fff;
  overflow: hidden;
  border-radius: 15px;
  /* -webkit-box-shadow: 2px 2px 61px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 59px -13px rgba(0,0,0,0.75);
  box-shadow: 2px -1px 11px 0px #c0bebe; */
  filter : drop-shadow(0px 1px 11.5px rgba(0,0,0,0.16));
}

.login-card p {
  text-align: center;
  font-size: 22px;
  margin: 0;
  font-family: "Bahnschrift";
}

.login-card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
  background: rgb(77,110,255);
background: linear-gradient(90deg, rgba(77,110,255,1) 0%, rgba(149,154,255,1) 80%);
  font-size: 15px;
  font-family: "Segoe UI";
}

.login-card input[type=text], input[type=password] {
  height: 44px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border-radius: 7px !important;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 61px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 59px -13px rgba(0,0,0,0.75);
box-shadow: 2px -1px 11px -3px #c0bebe;
color: #222222;
font-family: "Bahnschrift";
}


.login {
  text-align: center;
  font-size: 14px;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
  border-radius: 5px;
}

.login-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
 
  background-color: rgb(91, 118, 254);

 margin: 45px 2px 2px 2px;
}

.login-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
 
  background-color: rgb(91, 118, 254)
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

form input{
  border-radius: 10px;
  font-size:13px; 
border-color: transparent;
}

.login-card a:hover {
  opacity: 1;
}

.login-help {
  color:#7f8abe;
  text-align: center;
  font-size: 12px;
  line-height: 19px;
}
.login-help a{
  color:#7f8abe;
  text-decoration:none;

}

::-webkit-input-placeholder {
  font-size: 12px !important;
  }
   :-moz-placeholder {  
  font-size: 12px !important;
  }
  /*--for IE10 support--*/
  :-ms-input-placeholder {
  font-size: 12px !important;
  }

.button1{
  border: 0px solid #fafafa;
  background-color:#fafafa;
  color:#8c8c8c;
 width:50px;
 height: 27px;
 border-radius: 4px;
 font-weight: bold;
 font-family: "Segoe UI";
  margin: 0px -1px 0 0;
  display: inline-block;
}
.button2{
  border: 0px solid #fafafa;
  background-color: #ffffff;
  border-radius: 4px;
  color:#3b3b3b;
 width:46px;
 height: 30px;
  margin: -6px;
  height: 30px;
  filter: drop-shadow(0px 1px 3.5px rgba(0,0,0,0.16));
  display: inline-block;
  font-family: "Segoe UI";
}

.cross{
  position:absolute;
  top:0;
  right:0;
  left:3;

  color: black;  
}

.button0{

  text-align: right;
  line-height: 5;
}

.button0 p{

  font-size:14px;
  color: #3b3b3b;
  font-family: "Segoe UI";
  display: inline-block;
  text-align: left;
  margin: 0;
  padding: 0 92px 0 0;
  line-height: 18px;
}

input[type=checkbox] {

  -ms-transform: scale(1); /* IE */
  -moz-transform: scale(1); /* FF */
  -webkit-transform: scale(1); /* Safari and Chrome */
  -o-transform: scale(1)); /* Opera */
  
 }

label{

  font-size: 13px;
  color: #3b3b3b;
  font-family: "Segoe UI";

}